<head>
  <title>Simple Search Form</title>
</head>
<body>
  
  Enter keywords separated by spaces (AAPl Stock ...)
  <%= form_tag home_path, :method => 'get' do %>
    <p>

      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>

  <% if @searching %>
  	<h4><%= @tweets.count %> Results for <%= @query %> (retweets omitted)</h4>

    <hr>
  	<% @tweets.each do |t| %>
		<%= t.text %>
		<hr>
	<% end %>

  <% end %>

</body>